
<html>
<head>
<title>Admin Login</title>
<style>
 #heading
 {
  font-family:milea;
  position:absolute;
  top:50px;
  left:200px;
  font-size:55px;
  color:#05e3a8;
 }

 #subh
 {
   font-family: monospace;
   color: #21b3db;
   position: absolute;
   top:150px;
   left:200px;
   font-size:40px;
 }
 .parallax {
    background-image: url("./assets/plx.jpg");
    min-height: 700px;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#formpt
{
position: absolute;
top:350px;
left:550px;
flex-wrap: wrap;
background-color:#80ffaa;
    opacity:0.8;
    padding:20px;
}

td
{
font-family: monospace;
}
</style>

</head>

<body>

<img src="./assets/egesdshr.png" align="left" alt="utopia logo" width="200px">
<h1 id="heading"> Utopia Hotels </h1>

<h3 id="subh"> Paradise.. Just a Click Away! </h3>

<div class=parallax>

    <div id="formpt">
        <a v-bind:href= "'/data' "> Click </a>
    </div>

</div>

</body>

</html>
